



:root{
    
    --color-main: #25aae1;
    --color-gray: #e7e7e7;
    --color-footer: #002d4c;
    scrollbar-color: #000;
    scrollbar-color:  #149d95;
    scrollbar-width: thin !important;
    
}
body::-webkit-scrollbar {
    width: 20px;
    overflow-x: hidden;
}
body::-webkit-scrollbar-thumb {
    height: 56px;
    border-radius: 8px;
    border: 4px solid transparent;
    background-clip: content-box;
    background-color: rgb(37, 170, 225,.8);
    overflow-x: hidden;
}

*,
*:before,
*:after{
    box-sizing: border-box;
}

img{
    min-width: 100%;
}
html{
    font-size: 62.5%;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #ffffff;
}
.center{
    width: 85%;
    margin: 0 auto;
}
.margin-0{
    margin: 0;
}
.right{
    text-align: right;
}
.font-gray{
    color:rgb(78, 76, 76) !important;
}
.b-gray{
    background: #e7e7e7;
}
.bg-blue{
    background: linear-gradient(180deg, #002d4c 20%,#25aae1 80%) !important;
}
.header{
    height: 70vh;
    background-image: url(../Images/Banner_Principal.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.container-header{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;   
}

.container-main{   
    width:40%;
    position: relative;  
    color: #fff;
    margin: 4rem 10rem ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-img-header{
    display:flex;
    justify-content:center;
    align-items:center; 
    height:10rem;
    
}
.img-logo-header{
    
    height:80%;
    -o-object-fit:contain;
       object-fit:contain;
}


.container-text-header{
    width: 100%;
    color: #fff;
    position: relative;
}

.container-title-main{
    height:100%;
    position:relative;
    left:38%;
}

.title-1{
    font-size: 2.2rem;
    text-transform: uppercase;
    
}
.title-2{
    font-size: 2.8rem;
    text-transform: uppercase;
}

.title{
    width: 100%;
    margin: 0;
    
}

@media (max-width: 768px){
    
    .header{
        background-position-x: -45rem; 
    }
    .container-header{
        width:100%;
        height:100%;
        justify-content:flex-start;
    }
    .container-main{
        width:60%;
        margin:4rem ;
    }
    .img-logo-header{
        height:60%;
    }
    .container-title-main{
        left:3rem;
    }
    .container-title-main{
        width:30rem;
    }
    .title-1{
        
        font-size:1.8rem;
    }
    .title-2{
        font-size:1.8rem;
    }
    
}


.container-section-whois{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 

}
@media(max-width: 768px){
    .container-section-whois{
        flex-direction: column;
    }
    .container-left{
        display: none;
    }

    .container-right{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .container-text-whois{
        width:80%;
        margin: 0 auto;
        text-align: center;
    }
}
 .container-left{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
} 
.img-left-whois{
    height: 100%;

}

.container-right{
    height: 100%;
    width: 100%;
    margin: 0;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    position:relative;
}

.container-img-whois{
    display: flex;
    justify-content: flex-start;
    align-items: center;    
    height: 5rem;
    width: 50%;
    /* border: 1px solid red; */
}
.container-img-whois:after{
    content: "?";
    color: #058a93;
    font-size: 2.8rem;
}
.img-whois{
    height:100%; 
    -o-object-fit: contain; 
       object-fit: contain;
    padding: 0;
    margin:0;
}
.container-text-whois{
    margin-right: 15%;
}

.whois:first-letter{
    text-transform: uppercase ;
}
.whois{
    color: #058a93;
    font-size: 3.2rem;
    font-weight: 300;
    margin: 0;

}

.text-whois{
    font-size: 1.4rem;
}

.container-line{
    position:absolute;
    bottom:0;
    right:0;
    height:12rem;
   
    
}
.line{
    height:100%;
    width:100%;
}
@media (max-width: 768px){
    .container-line{
        height:8rem;
    }
  
}

.line-full{
    fill:#ffffff;
    stroke:#058a93;
    stroke-width:2px;
    /* stroke-dasharray:310;
    stroke-dashoffset:-310; */
    
}
@media (max-width: 768px){
    .container-text-whois{
        margin:0 auto;
      
    }
}


.line-full{
    stroke-dasharray:250,50;
    stroke-dashoffset: 300;
    -webkit-animation: anima 1.5s ease-in forwards;
            animation: anima 1.5s ease-in forwards;
}
@keyframes anima{
    to{
        stroke-dasharray: 0;
       
    }
}


.section-particles{
    height: 30vh;
    background: linear-gradient(180deg, #022a5f,#058a93);
    background-attachment: scroll;
}

.section-advantage-sponsor{
    height: 100%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position:relative;
}

.container-section-advantage{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:10rem 0;
}

.container-title{
    width: 35%;
    height: 100%;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.container-img-title{
    width:40rem;
    margin:0;
    display: flex;
    justify-content:center;
    align-items:flex-end;
    
}


.img-title{
    width:20%;
    
}
.title-ventajas{
    margin:0;
    margin-right:1rem;
    width:25rem; 
    color:#058A93; 
    font-size:2.4rem;
    font-weight:300;
    text-align:right;
}

.title-ventajas:first-letter{
    text-transform:uppercase;
}
.container-imgsmart{
    width:100%;
}
.for-sponsor{
    margin: 1rem 0;
    font-size: 2.2rem;
    font-weight: 300;
    letter-spacing: 3px;
    color:#058a93;
    width: 100%;
    text-align:center;
}
.grid-advantage{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 6rem;
    -moz-column-gap: 4rem;
         column-gap: 4rem;
    align-items:center;
    justify-content:center;
         margin-bottom: 5rem;  

}

@media (max-width: 768px){
    .container-title{
        width:80%;
      
        
    }
   .grid-advantage{
       display:none;
      
   }
    .container-img-title{
        width:100%;
        display:flex;
        justify-content:center;
    }    
    .container-imgsmart{
        width:100%;
    }
    
    .title-ventajas{
        font-size:1.8rem;
        display:inline;
      

    }
    .title-text{
        font-size:1.8rem;
    }
}
.section-cards0{
    margin: 5rem 0;
    
    height: 50rem;
    display:flex;
    justify-content:center;
    align-items:center;
    
}
.container-cards0{
    height:22rem;
    width:18rem;
    position: relative;
    
    
}
.card-5{
   
    grid-column-start: 2;
}
.card-6{
    grid-column-start: 3;
    
}
.img-front0{
    height:100%;
    width:100%;
    -o-object-fit:contain;
       object-fit:contain;
    position:relative;
    border-radius: 1rem;
    border:1px solid  #d1cdcd;
    padding: 5px;
    background:#fff;
}

.card0{
    position: absolute;
    width: 18rem;
    height: 22rem;

    border-radius: 1rem;
    padding: 1rem;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    transition: 3s  ;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    transform: perspective( 50000px);
    
    
}
.card-front0{
    display:flex;
    justify-content: center;
    align-items: center;
   
   
}

.card-back0{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size: 1.2rem;
    text-align: center;
    transform: rotateY(180deg);
    transition: 1.5s linear;
    /* color: #fff; */
    background: linear-gradient(180deg, #179BED,#7A65F0)

}
.container-cards0:hover .card-front0 { 
    cursor:url(..Images/Cerebro_Azul.svg),url(..Images/Logo_1.png),pointer;
    transform: rotateY(180deg);
    
}
.container-cards0:hover .card-back0{
    transform: rotateY(0deg);

}


.container-cards-advantage{
    position:relative;
    width:18rem;
    height:22rem;

}
.card-advantage{
    position:absolute;
    
}

.container-img-advantage{
    height: 22rem;
    width: 18rem;
    justify-self: center; 
    position:relative;    
}

.img-advantage{
    height: 22rem;
    width: 18rem;
    border-radius: 1rem;
    -o-object-fit:contain;
       object-fit:contain;
}
.container-line-2{

    position:absolute;
    bottom:0;
    left:5rem;
    width:12rem;
}
.line-2{
    width:100%;
    height:100%;
}
@media (max-width: 768px){
    
    .line-2{
        width:50%;
    }
   
}

.container-text-advantage{
    height:100%;
    width:100%;
    background:linear-gradient(-45deg,#002d4c,#058a93);
    padding: 1rem;
    color:#fff;
    font-size:1.
}


.container-section-advantage-fm{
    display:none;
    
    
    
}
@media (max-width: 768px){
    .section-advantage-mobile{
        height:100%;
        padding:2rem 0rem 10rem 0rem;
        
        
    }


    .container-section-advantage-fm{
        display:flex;
        height:100%;
        margin-top:2rem;
        position:relative;
    }
  
  
}
.info-main{
    margin:0 auto;
    display:flex;
    width:100%; 
    height:10rem;
    border: 1px solid var(--color-main);
    border-radius:5rem;
    
}

.container-info-text{
    width: 100%; 
    position:relative;
    padding:1.4rem 2.8rem;
    overflow:hidden;  
}
.container-info-text:after{
    content:"";
    position:absolute;
    height:100%;
    width:5%;
    top:0%;
    left:2%;
    right:0;
    background:linear-gradient(180deg, rgba(38, 169, 224,1) ,rgba(0, 45, 76,1)30% );


    
    
}
@media (max-width: 768px){
    .container-info-text{
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .text-info-mb{

    }
}
.container-info{
    width:20%;
    display:flex;
    justify-content:center;
    align-items:center;
  
    background:linear-gradient(180deg, rgba(38, 169, 224) ,rgba(0, 45, 76)30% );
    border-radius:50% 0% 0% 50%;
    
    
    
}
.info-number{
    color:#fff;
    margin:0;
    font-size:4rem;
    
  
}


.section-advantage-bussiness{
    position:relative;
    background:#e7e7e7;
    height: 100%;
}
.container-section-advantage-bussiness{
    padding:10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    
}
.container-title-2{
    margin:5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.grid-advantage-bussiness{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    row-gap: 6rem;
    margin-bottom: 5rem;
    transform-style: preserve-3d;
    
    
}
.container-advantage-bussiness{
    background:#fff;
    width:18rem;
    height:22rem;
    border: 1px solid #d1cdcd;
    border-radius: 1rem;
    justify-self: center;     
}
.container-advantage-bussiness:hover{
    cursor: pointer;
    transform: rotateY(180deg);
    transition: 3s
}
.container-advantage-bussiness:nth-child(5){
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-line-white{

    position:absolute;
    top:0;
    right:0;
    height:12rem;
    transform:rotateX(180deg);
  
}
.container-line-white-2{

    position:absolute;
    bottom:0;
    left:0;
    height:12rem;
    transform:rotateY(180deg);
}

.line-white,
.line-white-2{
    fill:none;
    stroke:#25aae1;
    stroke-width:3px;
}
#line-full-white,
#line-full-white-2{
    height:100%;
    
}
@media (max-width: 768px){
    #line-full-white,
    #line-full-white-2{
        height:50%;
        transform:translateY(6rem)
        
    }
}
.rot180{
    transform:rotateX(180deg)
}
.section-projects{
    height: 100%;
    position:relative;
    
    
}
.container-projects{
    padding: 10rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.container-title-projects{
    display:flex;
    flex-direction:column;
    align-items:center;

   
    
}
.title-text-projects{
    text-align:center;
    margin: 5px 0;
    color:#058A93;
    font-weight:300;
    font-size:2.4rem;
    margin:0;
    
}

.title-text-projects:first-letter{
    text-transform:uppercase ;
}
.container-img-title-projects{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    
}

.container-img{
    width:24rem;
    margin-left:1rem;
}
.img-title-projects{
    width: 10rem;
}
@media (max-width: 768px){
    .container-title-projects{
        
    }
    .container-img-title-projects{
        width:50%;
    }
    .img-title-projects{
        
    }
}

.container-cards{
    display: flex;
    justify-content: space-evenly;
}
.card{
    width: 20rem;
    text-align: center;
}
.img-project{
    width: 15rem;
    height: 15rem;
    -o-object-fit: contain;
    object-fit: contain;
}
.text-cards{
    font-size:1.3rem;
    font-weight:400;
}
@media(max-width: 768px){
    .container-cards{
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .card{
        min-width:100%;
    }
    .img-project{
        height:8rem;
    }
    .title-text-projects{
        font-size:1.8rem;
    }
}
.section-map{
    height: 100%;
    padding: 10rem 0;
    position:relative;

}

.container-map{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
        
}
.container-title-img-map{
    width: 40%;
}
.map-logo{
    width: 100%;
}
.map-title{
    color:#058a93;
    font-size: 2.6rem;
    text-transform: capitalize;
    text-align: center;
    font-weight: 300;
    margin: 0;
}
.text-map{
    text-align:center;
    font-size:1.2rem;
}
.container-img-map{
    width:auto;
   
}
.map-img{
    width:100%;
    -o-object-fit:contain;
       object-fit:contain;
}
@media (max-width: 768px){
    /* .section-map{
        padding:4rem;
    } */
  
    .container-title-img-map{
        width:80%;
    }
    .map-title{
        font-size: 2rem;   
        font-weight: 300;
        margin: 0;
        flex-wrap:wrap;
    }
    .container-img-map{
        width:100%;
       

        
    }
    .map-img{
        height:auto;
        object-fit:contain;
    }
}
.footer{
    height: 100%;
    background: url(../Images/Banner_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;   
    background-attachment: fixed;
}
@media (max-width: 768px){
    .footer{
        background-position:bottom center;
    }
}
.container-footer{
    padding: 3rem 0;
}
.title-footer{
    color: #fff;
    text-align: center;
    text-transform: capitalize;
    font-size: 2.4rem;
    font-weight: 300;
}
.container-footer-project{
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-img-project{
    width: 30rem;
}
.fidelity{
    /* object-fit: cover; */
    width: 110%;
}
.evolution{
    -o-object-fit: cover;
       object-fit: cover;
    width: 85%;    
}

.smart{
    background: #002d4c;
}
.container-smart{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 1rem;

}
@media (max-width: 768px){
    .container-footer-project{
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
    .container-img-project{
        width:80%;
        display:flex;
        justify-content: center;
        align-items:center;
    }



    .container-smart{
        width:60%;
        flex-direction:row-reverse;
        
    }
    .fidelity,
    .evolution{
        height:6rem;
        object-fit:contain;
        margin: 1rem 0
    }
}
